orm  { display: table;      }
label { display: table-cell; }
input { display: table-cell; }

html, body {
   height: 100%;
}

body {
	text-align: center;
    background-color: #f2f2f2;
    background-repeat: repeat;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#wrapper {
	text-align:left;
	width: 70%;
	margin: 0 auto;
    padding-top: 1%;
    background-color:white;
}

#header {
    color: black;
    text-align: left;
    width: 70%;
    background-color: white;
    background-repeat: repeat-x;
    margin: 0 auto;
    padding-top: 1%;
}

#logo {
    padding-left: 2%;
}

#menu {
    width: 70%;
    background-color: black;
    margin: 0 auto;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 12px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #383838;
}

#logout-button {
    float: right !important;
}

#logout-button a {

}

#login-button {
    float: right !important;
}

#login-button a {

}


#main {
	padding: 2%;
	min-height: 900px;
	overflow: auto;
}

#main a:link, a:visited, a:active {
    text-decoration: none;
}

button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 11px 32px;
}

button:hover {
    background-color: #383838;
    cursor: pointer;
}

#main button {

}

#footer {
    color: black;
    clear: both;
    text-align: center;
}

#acp-login {
    margin-top: 1%;
    display: block;
}

#project_details {
    float: left;
    width: 20%;
    padding: 1%;
    border: 1px solid black;
    background-color: #F6F6F6;
}

#project_details select {
    width: 90%;
}

#search-box {
    text-align: center;
    padding: 1%;
    border: 1px solid black;
    background-color: #F6F6F6;
}
#search-box input {
    width: 15%;
    height: 100%;
}

#project_buttons {
    text-align: center;
}

#projects_list {
    text-align:center;
    padding-top: 1%;
}

#projects_list button {
    margin-top: 2%;

    padding: 7px 8%;
}

#project_buttons button {
    margin-top: 1%;
}

#project_buttons dl {
    text-align: left;
}

#projects_table {
	width: 100%;
	height: 21%;
	margin: 0 auto;
}

#projects_table tbody tr:hover {
    background-color: #F6F6F6;
}

#projects_table td {
	text-align: center;
    padding: 1%;
    border-bottom: 1px solid #f2f2f2;
}

#projects_table th {
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
}

#sonars_list {
    text-align:center;
}

#sonars_table {
	width: 80%;
	height: 21%;
	margin: 0 auto;
}

#sonars_table a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

#sonars_table a:hover {
    color: grey;
}

#sonars_table td {
	text-align: center;
    padding: 1%;
    border-bottom: 1px solid #f2f2f2;
}

#sonars_table th {
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
}

#sonar_report {
    float: right;
    width: 75%;
}

#sonar_results {
}

#sonar_custom_form {
    float: left;
    width: 100%;
}

#sonar_results_custom {
    float: left;
    width: 68%;
}

#sonar_custom_form button {

}

#sonar_custom_select {
    float: right;
    width: 30%;
    height: 400px;
    text-align: center;
}

#sonar_custom_select select {
    width: 100%;
    height: 80%;
}

#sonar_custom_select button {
    margin-top: 1%;
}

#sonar_loading {
    width: 100%;
    text-align: center;
}

#sonar_loading img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sonar_table {
    overflow: auto;
    height: 400px;
	width: 100%;
	height: 21%;
}

.sonar_table td {
    padding: 1%;
    border-bottom: 1px solid #f2f2f2;
}

.sonar_table th {
	border-bottom: 1px solid #f2f2f2;
}

#sonar_custom {
    float: right;
    padding-top: 1%;
}

.form_error {
    color: red;
    font-size:11px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    height: 100%;
}

.invalid {
    border: 1px solid #ff6666;
}

.valid {
    border: 1px solid #f2f2f2;
}

.error {
    font-size: 11px;
    color: red;
}

.small_info_text {
    font-size:10px;
}

form {
    width:20%;
    padding: 1%;
}

.pagination {
    width: 40%;
    margin: 0 auto;
    margin-top:3%;
}

.pagination ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.pagination li {
    display: inline;
    float: center;
}

.pagination li a {
    display: inline;
    text-align: center;
    padding: 2% 3%;
    text-decoration: none;
}

.prev a {
    text-decoration: none;
    color: black;
}

.prev a:hover {
    color: #383838;
}

.prev.disabled a {
    color: grey;
}

.next a {
    text-decoration: none;
    color: black;
}

.next a:hover {
    color: #383838;
}

.next.disabled a {
    color: grey;
}

#report-button {
    float: right;
}

#sonars_button {
    float:right;
}

#project_details button {
    padding: 9px 13px;
}

#sonars_list button {
    padding: 9px 13px;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

#acp-options button{
    margin-top: 1%;
    width: 15%;
    padding: 12px 3%;
}

#acp-options ul {
    list-style: none;
}

@media (min-width: 300px) {
    html { font-size: 9px; }
    #project_details { font-size: 8px; }
    #search-box { font-size: 8px; }
    .small-but { font-size: 8px; }
    #project_buttons button { font-size: 8px; }
    #pagination { font-size: 8px; }
    #acp-options button { font-size: 8px; }
}

@media (min-width: 500px) {
    html { font-size: 10px }
    #project_details { font-size: 9px; }
    #search-box { font-size: 9px; }
    .small-but { font-size: 9px; }
    #project_buttons button { font-size: 8px; }
    #pagination { font-size: 9px; }
    #acp-options button { font-size: 9px; }
}

@media (min-width: 700px) {
    html { font-size: 11px; }
    #project_details { font-size: 10px; }
    #search-box { font-size: 10px; }
    .small-but { font-size: 10px; }
    #project_buttons button { font-size: 10px; }
    #pagination { font-size: 10px; }
    #acp-options button { font-size: 10px; }
}

@media (min-width: 1200px) {
    html { font-size: 15px; }
    #project_details { font-size: 13px; }
    #search-box { font-size: 13px; }
    .small-but { font-size: 12px; }
    #project_buttons button { font-size: 11px; }
    #pagination { font-size: 13px; }
    #acp-options button { font-size: 13px; }
}