<!DOCTYPE html>
<html ng-app="sm-web">
<head>
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="@routes.Assets.versioned("javascripts/script.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/login.js")"></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
</head>
<body ng-controller="mainController">
    <div id="header">
            <!-- <a href="/"><img id="logo" src='@routes.Assets.versioned("images/sv.png")'/></a> -->
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">Index</a></li>
            <li id="logout-button" ng-show="loggedIn"><a href ng-click="logoutUser()">Logout</a></li>
            <li id="login-button" ng-show="!loggedIn"><a href="/login">Login</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <h2>Welcome!</h2>
            <p>This is the management panel for SmartFinder. Here you can view and add cameras and other modify other changes.
                The Android application is the main point, recognition is not available via web yet!
            </p>
        </div>
        <div id="footer">
            <p>Footer</p>
        </div>
    </div>
</body>
</html>