@import play.api.Play.current

<!DOCTYPE html>
<html ng-app="sm-web">
<head>
    <title>Log in</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src='@routes.Assets.versioned("javascripts/script.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/login.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/user.js")'></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
</head>
<body ng-controller="userController">
<div id="header">
    <!-- <a href="/"><img id="logo" src='@routes.Assets.versioned("images/sv.png")'/></a> -->
</div>
<div id="menu">
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/cameras" ng-show="loggedIn">Add camera</a></li>
        <li id="logout-button" ng-show="loggedIn"><a href ng-click="logoutUser()">Logout</a></li>
    </ul>
</div>
<div id="wrapper">
    <div id="main">
        <h2>Change password</h2>
        <hr />
        <form name="change-password-form">
            Old password: <br />
            <input type="password" ng-class="(errors.oldPassword == null) ? 'valid' : 'invalid'" placeholder="" ng-model="pass.old" required />
            <div class="error" ng-repeat="error in errors.oldPassword">
                {{error}}
            </div>
            <br />
            New password: <br />
            <input type="password" ng-class="(errors.newPassword == null) ? 'valid' : 'invalid'" placeholder="" ng-model="pass.new" required />
            <div class="error" ng-repeat="error in errors.newPassword">
                {{error}}
            </div>
            <br />
            New password repeat: <br />
            <input type="password" ng-class="(errors.newPasswordRepeat == null) ? 'valid' : 'invalid'" placeholder="" ng-model="pass.repeat" required />
            <div class="error" ng-repeat="error in errors.newPasswordRepeat">
                {{error}}
            </div>
            <br />
            <br />
            <button ng-click = "changeUserPassword()">Send</button>
        </form>
    </div>
    <div id="footer">Footer</div>
</div>
</body>
</html>