@import play.api.Play.current

<!DOCTYPE html>
<html ng-app="sm-web">
<head>
    <title>Registration</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src='@routes.Assets.versioned("javascripts/script.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/login.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/user.js")'></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
</head>
<body ng-controller="userController">
<div id="header">
    <!-- <a href="/"><img id="logo" src='@routes.Assets.versioned("images/sv.png")'/></a> -->
</div>
<div id="menu">
    <ul>
        <li><a href="/">Index</a></li>
    </ul>
</div>
<div id="wrapper">
    <div id="main">
        <h2>Register</h2>
        <hr />
        <form name="user-add-form">
            Username: <br />
            <input type="text" class="valid" placeholder="" ng-model="user.userName" required />
            <div class="error" ng-repeat="error in errors.userName">
                {{error}}
            </div>
            <br />
            Email: <br />
            <input type="text" class="valid" placeholder="" ng-model="user.userMail" required />
            <div class="error" ng-repeat="error in errors.userMail">
                {{error}}
            </div>
            <br />
            Password: <br />
            <input type="password" class="valid" placeholder="" ng-model="user.userPass" required />
            <div class="error" ng-repeat="error in errors.userPass">
                {{error}}
            </div>
            <br />
            <button ng-click = "addUser()">Send</button>
        </form>
    </div>
    <div id="footer">Footer</div>
</div>
</body>
</html>