@import play.api.Play.current

<!DOCTYPE html>
<html ng-app="project_upload">
<head>
    <title>Add user</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src='@routes.Assets.versioned("javascripts/script.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/login.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/user.js")'></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
</head>
<body ng-controller="userController">
<div id="header">
    <!-- <a href="/"><img id="logo" src='@routes.Assets.versioned("images/sv.png")'/></a> -->
</div>
<div id="menu">
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/projects/upload">Upload</a></li>
        <li><a href="/projects/report">Report</a></li>
        <li><a href="/acp" ng-show="loggedIn">ACP</a></li>
        <li id="logout-button" ng-show="loggedIn"><a href="/acp/logout">Logout</a></li>
    </ul>
</div>
<div id="wrapper">
    <div id="main">
        <h2>Add a new user</h2>
        <hr />
        <form name="user-add-form">
            Username: <br />
            <input type="text" class="valid" placeholder="" ng-model="user.userName" required />
            <br />
            Email: <br />
            <input type="text" class="valid" placeholder="" ng-model="user.userMail" required />
            <br />
            Password: <br />
            <input type="text" class="valid" placeholder="" ng-model="user.userPass" required />
            <br />
            <button ng-click = "addUser()">Send</button>
        </form>
    </div>
    <div id="footer">Footer</div>
</div>
</body>
</html>